<%- include('layouts/header'); -%>
<body>
  <%- include('layouts/nav'); -%>
    <section>
        <div class="formData">
            <%= message %>
        </div>
    </section>
</body>
<%- include('layouts/footer'); -%>








